version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
      day-of-month: "1"
      time: "00:00"
    open-pull-requests-limit: 5
    commit-message:
      prefix: "npm"
      include: "scope"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day-of-month: "1"
      time: "00:00"
    commit-message:
      prefix: "github-actions"
      include: "scope"
