/node_modules
/dist/

# misc
.DS_Store
*.pem
.env*

# typescript
*.tsbuildinfo
tsconfig.tsbuildinfo
coverage/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Staden
*.sqlite3*

# Staden metadata
.issues/

# VS Code
.vscode/
