/node_modules
/dist/

# misc
.DS_Store
*.pem
public/vega.js
public/vega-lite.js
public/vega-embed.js
.env*

# typescript
*.tsbuildinfo
tsconfig.tsbuildinfo
coverage/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Staden
*.sqlite3

# Staden metadata
.issues/

# VS Code
.vscode/
